.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #444;
}

.brickGameWrapper {
  height: fit-content;
  width: fit-content;
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  position: relative;
}
