.wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.displayWrapper {
  position: absolute;
  top: 9.4%;
  height: 22.6%;
  left: 29.45%;
  width: 38.95%;
  display: flex;
  align-items: center;
  padding: 0;
}

.controlsWrapper {
  position: absolute;
  top: 57.5%;
  height: 22.5%;
  left: 10%;
  width: 77%;
  display: flex;
  align-items: center;
  padding: 0;
}
